.borderNF {
    border-radius: 25px;
    border: 2px solid rgb(0, 0, 0);
    padding: 20px; 
    width: 200px;
    height: 150px;
  }


#content {
    height: 100%;
}

  #left {

    width: 50%;
    float: left;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 0.5em;
  }
  #right {
  
    width: 50%;
    float: left;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 0.5em;
  }