.borderNF {
    border-radius: 25px;
    border: 2px solid rgb(0, 0, 0);
    padding: 20px; 
    width: 200px;
    height: 150px;
  }


body,
html {
height: 100%;
margin: 0;
background-image: url('./assets/background.jpeg');
background-position: center;
background-size: cover;
}


#wrapper {
  width: 100%;

}

#side-nav {
  position: fixed;
  width: 400px;
  height:85vh;
  overflow-y: scroll;
  
}

#content-wrapper {
  margin-left: 450px;
  padding: 0 10px;
  overflow-y: scroll;
  
}

