.newsfeedimg {
    width: 500px;
    height: 550px;
}

.profileCards {
    background-color: rgba(237,110,115, 0.8);
    margin: auto;
    /* border-radius: 25px; */
    color: black;
    max-width: 70%;
}

.card-content {
    width: 100%;
}


