.newsfeedimg {
    width: 500px;
    height: 550px;
}


.profileCards {
    background-color: rgb(237,110,115);
    margin: 5px;
    border-radius: 25px;
    color: black
}


/* .newsfeedContainer {
    overflow: scroll;

} */