.profileBox {
    border: rgb(237,110,115) solid 4px;
    border-radius: 25px;
}

.card-image {
    border-radius: 25px;
}

.bookArtist {
    background-color: rgb(237,110,115);
    border-radius: 25px;
}


.userpic {
    width: 280px;
    height: 280px;
    border-radius: 25px;
}

.card-image{
    width: 280px;
    height: 280px;
}

.card-content{
    width: 250px;
}

.card-stacked{
    float: right;
}

.chip-hash{
    width: 105px;
    margin-left: 5px;
}
