.profileBox {
    border: rgb(237,110,115) solid 4px;
    border-radius: 25px;
}

.card-image {
    border-radius: 25px;
}

.bookArtist {
    background-color: rgb(237,110,115);
    border-radius: 25px;
}


.userpic {
    width: 280px;
    height: 220px;
    border-radius: 25px;
}

.card-image{
    width: 280px;
    height: 280px;
}



.card-stacked{
    float: right;
}

.card .card-image img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 65px;
    right: 0;
    top: 25px;
    bottom: 0;
    width: 100%;
}
.card .card-content {
    padding: 10px;
    border-radius: 0 0 2px 2px;
}