nav .brand-logo{
    padding: 5px;

}

.navbar {
    position: fixed;
    z-index: 99;
 
    left: 0;
    right: 0;
    top: 0;  

}


.logo {
    width: 60px;
    height: 60px;
    padding: 5px;
    border-radius: 25%;
    float: left;

}

h2 {
    margin: 0px 0px 0px 0px;
    width: 200px;
    height: 60px;
}
